body
{
    font-family: "Lucida Console", Monaco, monospace
}

h1 
{
    font-size: 40px;
    color: whitesmoke;
}



  







/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
