body
{
    font-family: "Lucida Console", Monaco, monospace
}

h1 
{
    font-size: 40px;
}

.content
{
    text-align: center;
}

#password
{
    width: 50%;
    height: 50px;
    border: 4px solid #f9a7a7;
    color: #000000;
    font-size: 40px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#password:focus
{
    border: 4px solid #DA252E;
    width: 80%;
}



@media screen and (max-width: 900px) {

    .content
    {
        margin-top: 70px;
    }

    #password
    {
        width: 60%;
    }

    #password:focus
    {
        border: 4px solid #DA252E;
        width: 90%;
    }

}

@media screen and (max-width: 621px) {

    h1
    {
        font-size: 30px;
    }

    #password
    {
        width: 60%;
    }

    #password:focus
    {
        border: 4px solid #DA252E;
        width: 90%;
    }

}


  








