#topImg
{
  width:95%;
  height: 95%;
  padding-top:20px;
  
}

#id
{
  background-color: green;
}

#bottomImg
{
  width:10%;
  height: 10%;
  padding-top:10px;
}

#bottomText
{
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 12px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 190px;
    background-color: #000000;
    position: fixed;
    height: 100%;
    overflow: auto;
    left:0;
    top:0;
    border-right: 2px solid grey;
    z-index: 2;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: whitesmoke;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-size: larger;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    color: #DA252E;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 190px;
    padding: 1px 16px;
    height: 100%;
    
  }

  /* Hide the link that should open and close the topnav on small screens */
  .sidebar .icon {
    display: none;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 895px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: fixed;
      border-bottom: 2px solid gray;
    }
    #topImg
    {
      height: 70px;
      width: auto;
      padding-top:3px;
      padding-right: 12px;
      margin-right: 0px;
      float: right;
      right:0;
      object-fit: contain;
    }
    .sidebar a {float: left;padding-top: 30px;}
    div.content {margin-left: 0;}
    #bottomText{visibility: hidden;}
  }
  
  /* On screens that are less than 621px, display the hamgburger menu instead of text */
  @media screen and (max-width: 825px) {
  .sidebar.responsive {position: relative; margin-top: -10px;margin-left:-8px;width:105%;}
  .sidebar a:not(:first-child) {display: none;}
  .sidebar.responsive a.icon {
        position: relative;
        right: 0;
        top: 0;
        float: none;
      }
      .sidebar.responsive a {
        float: none;
        display: block;
        text-align: left;
      }
  
      .sidebar a.icon {
        display: block;
        float: left;
      }
    

    #bottomText{visibility: hidden;}
  }